@(eventoForm:Form[Evento])
@import helper.twitterBootstrap._
@import helper._
<!DOCTYPE html>
<html>
<body>

    @form(routes.EventosController.criar(),'enctype -> "multipart/form-data" ){
        @inputText(eventoForm("nome"), '_label -> "Nome:")
        @inputText(eventoForm("emailParaContato"), '_label -> "Email:", 'type -> "email")
        @textarea(eventoForm("descricao") , '_label -> "Descrição")
        @select(
            eventoForm("estado"),
            Estado.values().map(e => e.name() -> e.name()),
            '_label -> "Estado:"
        )
        @inputText(eventoForm("site"), '_label -> "Site:")
        @inputFile(eventoForm("destaque"), '_label -> "Destaque:")
        <fieldset>
            <legend>Periodo</legend>
            @inputDate(eventoForm("dataDeInicio"), '_label -> "Inicio:")
            @inputDate(eventoForm("dataDeFim"), '_label -> "Fim:")
        </fieldset>

        <input type="submit" value="Novo Evento"/>
    }

</body>
</html>