@(eventoForm:Form[Evento])
@import helper.twitterBootstrap._
@import helper._
<!DOCTYPE html>
<html>
<body>

    @form(routes.EventosController.criar()){
        @inputText(eventoForm("nome"), '_label -> "Nome:")
        @inputText(eventoForm("emailParaContato"), '_label -> "Email:", 'type -> "email")
        @textarea(eventoForm("descricao") , '_label -> "Descrição")
        @select(
            eventoForm("estado"),
            Estado.values().map(e => e.name() -> e.name()),
            '_label -> "Estado:"
        )
        @inputText(eventoForm("site"), '_label -> "Site:")
        @inputText(eventoForm("dataDeInicio"), '_label -> "Inicio:", 'type -> "date")
        @inputText(eventoForm("dataDeFim"), '_label -> "Fim:", 'type -> "date")

        <input type="submit" value="Novo Evento"/>
    }

</body>
</html>