<!DOCTYPE html>
<html>
<body>
	<form action="/eventos" method="post">
		<label for="nome">Nome:</label>
        <input  type="text" id="nome" name="nome" value=""/><br/>
		<label for="emailParaContato">Email pra contato:</label>
        <input type="text" id="emailParaContato" name="emailParaContato" value=""/><br/>
		<label for="descricao">Descrição</label>
        <textarea rows="5" cols="5" id="descricao" name="descricao"></textarea><br/>
		<label for="site">Site:</label>
        <input type="text" id="site" name="site" value="" /><br/>
		<input type="submit" value="Novo Evento"/>
	</form>
</body>
</html>